$black: #1A1A25;
$green: #2FC509;
$red: #F53B49;
$white: #FFF;

.error {
  text-align: center;
  padding-top: 138px;
  padding-bottom: 641px;
  background-image: url("../img/error.png");
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 37px;
    font-size: 38px;
    font-weight: 800;
    line-height: 41.8px;
  }

  &__link {
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    background: $red;
  }
}